{
  "presets": [
    "@babel/preset-flow",
    [
      "@babel/preset-env",
      {
        "loose": true,
        "uglify": true,
        "modules": false,
        "useBuiltIns": false,
        "targets": {
          "browsers": ["> 1%", "last 3 versions", "IE >= 8"]
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "flow-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-hot-loader/babel",
    "@babel/plugin-transform-runtime"
  ]
}
